html {
  font-size:16px;
}

body {
  background-color: #fff;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  /* background-color: #F8F8F8; */
  color:black;
}

#resume {
  display:inline-flex;
  max-width: 62.5rem;
  margin: 1em;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

/* ---GENERAL--- */
/* ---GENERAL--- */
/* ---GENERAL--- */

body {
  font-family: 'Poppins', sans-serif;
}

.col-xs-12 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
  font-variant-ligatures: common-ligatures; 
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1rem;
  margin: 0;
  color: #424250;
}

li {
  line-height:1.5rem;
}

.card {
  margin-top: 1rem;
}

.card-item {
  margin-bottom: 2rem;
}

.card-header {
  margin-bottom: 1rem;
}

.sectionHeader {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
  letter-spacing: 1.2px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.sectionHeader:after {
  display: flex;
  content: "";
  margin-left: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 4px solid rgb(144, 22, 17);
  overflow: hidden;
  justify-content: space-around;
}

.sectionHeader:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-bottom: 4px solid rgb(144, 22, 17);
  overflow: hidden;
  justify-content: space-around;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

/* ---Side Bar--- */
/* ---Side Bar--- */
/* ---Side Bar--- */

.sidebar {
  width: 30%;
  
  background-color: rgb(235, 229, 228);
}

.img-container {
  height: 19rem;
  overflow: hidden;
}

.img-container img {
  display: block;
  height: 100%;
}

.contact {
  margin: 1rem;
  list-style: none;
  padding: 0;
}

.contact li {
  margin-top: .3rem;
}
.contact li a {
  font-size: 1rem;
  color: #252525;
}
.contact li:nth-child(6) a {
  font-size: 1.1rem;
  font-weight: 600;
}

.summary {
  line-height: 1.3;
}

/* ---MAIN--- */
/* ---MAIN--- */
/* ---MAIN--- */

.main-container {
  background-color: #fff;
  width: 70%;
}

.resumeHeader {
  height:20rem;
  width:100%;
  display:flex;
  justify-content: center;

}

.headerContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.headerContent h1 {
  font-size: 4rem;
  font-weight: 700;
  list-style-type: none;
}

.headerContent h1:nth-child(3) {
  font-size:1.5rem;
  color: rgb(144, 22, 17);
}

.skills h5 {
  font-size: .9rem;
  margin-bottom: .8rem;
  padding: 0 5px;
}

.skills p {
  padding: 0 5px;
}


/* ---PROJECTS--- */
/* ---PROJECTS--- */
/* ---PROJECTS--- */

.project-container {
  max-width: 100%;
  margin: .5rem auto;
}

.project-container ul {
  margin-top: .5rem;
}

.project-top {
  display:flex;
  width:100%;
}

.project-top img {
  width: 10rem;
  height: 7rem;
  background-color: salmon;
  display:flex;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.19);
}


.project-info {
  width:75%;
  margin-left: .9rem;
}

.project-info div {
  display:flex;
  justify-content: space-between;
}

.project-info > h5 {
  margin-top: .5rem;
}

.project-info > p {
  margin-top: .5rem;
}

/* ---EMPLOYMENT--- */
/* ---EMPLOYMENT--- */
/* ---EMPLOYMENT--- */

.employment-header {
  display:flex;
  justify-content: space-between;
}

